<!DOCTYPE html>
<html>
<head>
  <title>Skut</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body> <!-- body -->

<div id="container1">
	<div id="container2">
		<div id="container3">
			<%= render 'layouts/header' %>
		</div>
	</div>
</div>

<!-- <%= render 'layouts/hero' %> -->

<div class="container clearfix">
  <% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-custom") %>
  <% end %>
	<%= yield %>
</div>

</body> <!-- /body -->
</html>
